/* 黑色的背景 */
.grid-container{
    width: 232px;
    height: 321px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* 设置间隔 */
    row-gap: 1px;
    column-gap: 1px;
    /* 圆角设置 */
    border-radius: 5px 5px 5px 5px;
    /* 阴影效果 */
    box-shadow: 0px 0px 14px #777777;
}

/* 上面的计算区域 */
.calculate-area{
    /* 显示的数字的位置，大小等 */
    font-family: 'Times New Roman', Times, serif;
    font-size: 41px;
    color: white;
    text-align: end;
    padding-right: 5px;
    padding-top: 40px;
    /* 区域占地，背景 */
    background-color: rgb(92, 92, 93);
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    /* 圆角边界设置 */
    border-radius: 5px 5px 0 0;
    /* 超出div部分不显示 */
    overflow: hidden;
}

/* 按钮的按键效果，字体颜色设置 */
button:active{
    border:none;
    color: rgb(236,236,236);
    background: rgb(181,180,182);
    opacity: 0.9;
}

button:focus{
    outline: none;
}

button{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 22px;
    text-align: center;
    color: rgb(236,236,236);
    /* 下面每个按键单独的padding和border的设置可以删掉哈 */
    padding: 0 0 0 0;
    border: none;
}

/* 每一行最后面的计算符号class='operator'变成橘黄色背景 */
/* 这个地方注意，后面的css样式灰色会把这个orange覆盖掉，以后注意顺序 */
.operator{
    background-color: rgb(253, 158, 43);
}

/* 计算器的第一行first */
.dark-gray{
    background-color: rgb(103,103,105);
    font-size: 18px;
}

/* 计算器的第二，三，四，五行 */
.gray{
    background-color: rgb(131, 131, 132);
}

.zero{
    background-color: rgb(131, 131, 132);
    grid-row: 7 / 8;
    grid-column-start: -5;
    grid-column-end:-3;
    /* 圆角设置 */
    border-radius: 0 0 0 5px;
}

.equal{
    /* 圆角设置 */
    border-radius: 0 0 5px 0;
}